<div class="container" ng-controller="UsersCtrl as ctrl">

    <div class="page-header">
        <h2>Users</h2>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in ctrl.users" ng-click="ctrl.editUser(user.regid)">
                <td>{{user.regid}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.dob}}</td>
            </tr>
        </tbody>
    </table>


</div>